@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --main-color : #00AE01;
    --second-color : #EDF2EE;
    /* --trid-color : #3D3370;
    --four-color : #E08B50; */
    --text-color : #666;
    --White-color : #fff;
    --White-color1 : #f1f1f198;
}


*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .5s cubic-bezier(.35, 1.14, .26, 1.24);
}




::-webkit-scrollbar{
    width: 0.8rem;
    background: var(--White-color);
    /* z-index: -1; */
    
}


::-webkit-scrollbar-thumb{
    width: 0.8rem;
    background: var(--main-color);
    border-radius: 5rem;
}

*::selection{
    background: var(--main-color);
    color: #fff;
}

section{
    padding: 7rem 9%;
    background-color: var(--White-color1);
    
}

footer{
    padding: 7rem 9%;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

/* box-shadow 

box-shadow:  18px 18px 30px #f2f2f2,
             -18px -18px 30px #ffffff;
    
*/


.btns{
    padding: 12px 35px;
    text-decoration: none;
    outline: none;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--White-color);
    border-radius: 100px;
    transition: all 0.3s;
    cursor: pointer;
}

.btns:hover{
    background-color: var(--second-color);
    color: var(--main-color);
    font-weight: 500;
}



.btns1{
    padding: 12px 35px;
    text-decoration: none;
    outline: none;
    border: 2px solid var(--main-color);
    background-color: var(--second-color);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--White-color);
    border-radius: 100px;
    transition: all 0.3s;
    cursor: pointer;
}

.btns1:hover{
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 500;
}






/* Heading */

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-bottom: 4px solid #00AE01;
    padding-bottom: 1.2rem;
    width: 35%;
    margin-bottom: 10rem;
    margin-top: 10rem;
}

.heading h3{
    font-size: 4rem;
    font-weight: 500;
    padding-top: 2rem;
}




/* Header Section */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--second-color);
    /* box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3); */
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem 5rem;
    width: 100%;
}

header .logo{
    color: var(--main-color);
    font-size: 2.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

header .navber ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    
}

header .navber ul li{
    margin: 2rem 1rem;
}

header .navber ul li a{
    font-size: 2rem;
    color: #666;
    
}

header .navber ul li a:hover{
    color: var(--main-color);
    /* text-decoration: underline; */
    
}

header .fa-bars{
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    display: none;
}


.nav_btns{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.nav_btns .btns{
    padding: 8px 25px;
    text-decoration: none;
    outline: none;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--White-color);
    border-radius: 100px;
    transition: all 0.3s;
    cursor: pointer;
}

.nav_btns .btns:hover{
    background-color: var(--second-color);
    color: var(--main-color);
    font-weight: 500;
}



.nav_btns .btns1{
    padding: 8px 12px;
    text-decoration: none;
    outline: none;
    border: 2px solid var(--main-color);
    background-color: var(--second-color);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--main-color);
    border-radius: 100px;
    transition: all 0.3s;
    cursor: pointer;
}

.nav_btns .btns1:hover{
    background-color: var(--main-color);
    color: var(--White-color);
    font-weight: 500;
}








/* Hero Section */


.hero{
    background-color: var(--second-color);
    padding: 3rem 9%;
}


.hero_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
}




.hero_container .hero_content .hero_text{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.hero_container .hero_content .hero_text span{
    font-size: 1.5rem;
    font-weight: 600;
    color: #f06c00;
}

.hero_container .hero_content h1{
    font-size: 5rem;
    line-height: 1.3;
    color: #222;
    margin-bottom: 1.5rem;
}

.hero_container .hero_content p{
    font-size: 1.4rem;
    line-height: 1.5;
    color: #666;
    margin-bottom: 4rem;

}




.hero_container .hero_content .btns{
    padding: 10px 35px;
    text-decoration: none;
    outline: none;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--White-color);
    border-radius: 100px;
    transition: all 0.3s;
    cursor: pointer;
}

.hero_container .hero_content .btns:hover{
    background-color: var(--second-color);
    color: var(--main-color);
    font-weight: 500;
}

.hero_container .hero_content .btns i{
    font-size: 1.5rem;
    margin-left: 1rem;
}




.hero_container .hero_img{
    width: 100%;
    height: 100%;
}

.hero_container .hero_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* Hero Section */

.service_container{
    position: absolute;
    top: 100%;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 5rem  5rem;
    background-color: var(--White-color);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    z-index: 1000;
    box-shadow:  18px 18px 30px #e0dfdf,
             -18px -18px 30px #ffffff;
}

.service_container .service_box{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.service_container .service_box .service_icon i{
    font-size: 3.5rem;
    color: var(--main-color);
}


.service_container .service_box .service_content h3{
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}


.service_container .service_box .service_content p{
    font-size: 1.2rem;
    color: #666;
}






/* Catagories Section */


.catagories{
    background-color: var(--White-color);
    padding: 1rem 9%;
}

.catagories_container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    text-align: center;
    cursor: pointer;
}

.catagories_container .Catagories_box{
    padding: 3rem;
    background-color: #e7fae7;
    border-radius: 10px;
    transition: all 0.3s;
}

.catagories_container .Catagories_box:hover{
    transform: translateY(-15px);
    box-shadow:  18px 18px 30px #f2f2f2,
             -18px -18px 30px #ffffff;
}

.catagories_container .Catagories_box h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.catagories_container .Catagories_box p{
    font-size: 1.2rem;
    color: #666;
}


.catagories_container .Catagories_box img{
    width: 50%;
    height: 50%;
    margin-bottom: 1rem;
}



/* Products Section */


.product{
    background-color: var(--White-color);
}



.product_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.product_container .product_box{
    padding: 1rem 2.5rem;
    background-color: #EFF0F2;
    border-radius: 10px;
    border: 2px solid #EFF0F2;
    transition: all 0.3s;
}


.product_container .product_box:hover{
    border: 2px solid #00AE01;
    cursor: pointer;
}

.product_container .product_box .product_icon{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}


.product_container .product_box .product_icon i{
    font-size: 1.8rem;
    color: #666;
    transition: all 0.3s;
}

.product_container .product_box .product_icon i:hover{
    color: #FF6500;
}


.product_container .product_box h3{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    text-align: center;
}


.product_container .product_box .product_retting{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.product_container .product_box .product_retting i{
    font-size: 1.5rem;
    color: #FF6500;
}


.product_container .product_box .product_pricing{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.product_container .product_box .product_pricing p:first-child{
    font-size: 2.5rem;
    font-weight: 700;
    color: #FF6500;
    text-decoration: none;
}

.product_container .product_box .product_pricing p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #666;
    text-decoration: line-through;
}




.product_container .product_box .product_img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}






.product_container .product_box .btns{
    padding: 8px 45px;
    text-decoration: none;
    outline: none;
    border: 2px solid var(--main-color);
    background-color: #EFF0F2;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--main-color);
    border-radius: 100px;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.product_container .product_box .btns:hover{
    background-color: var(--main-color);
    color: var(--White-color);
    font-weight: 500;
}







/* Banner Section */


.banner{
    padding: 7rem 9%;
    background-image: url(./image/banner-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.banner_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
}

.banner_container .banner_img img{
    width: 50%;
    height: 50%;
    display: none;
}


.banner_container .banner_content{
    padding: 0rem 8rem;
    margin-left: 5rem;
}


.banner_container .banner_content p:first-child{
    font-size: 1.8rem;
    color: #eee;
    font-weight: 500;
    /* margin-bottom: 0.8rem; */

}


.banner_container .banner_content h3{
    font-size: 5rem;
    color: #eee;
   
}

.banner_container .banner_content span{
    font-size: 5rem;
    color: #FF6500;
}


.banner_container .banner_content .text1{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #ccc;
    margin-bottom: 2rem;
}



.banner_container .banner_content .btns{
    padding: 10px 35px;
    text-decoration: none;
    outline: none;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--White-color);
    border-radius: 100px;
    transition: all 0.3s;
    cursor: pointer;
}

.banner_container .banner_content .btns:hover{
    background-color: transparent;
    color: var(--main-color);
    font-weight: 500;
}

.banner_container .banner_content .btns i{
    font-size: 1.5rem;
    margin-left: 1rem;
}






/* About section */


.about{
    background-color: var(--White-color);
    padding: 5rem 9%;
}


.about_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 10px; */
    align-items: center;
}


.about_container .about_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.about_container .about_content h3{
    font-size: 4.5rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}


.about_container .about_content h3 span{
    font-size: 4.5rem;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: #FF6500;
}


.about_container .about_content p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #666;
    margin-bottom: 3rem;
}





.about_container .about_content .content_img{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.about_container .about_content .content_img img{
    width: 40%;
    height: 40%;
    border-radius: 10px;
}












/* Review Section */
.heading1{
    text-align: center;
}

.heading1 h1{
    font-size: 4rem;
}


.heading1 p{
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 10rem;
}




.review{
    background-color: var(--White-color);
}

.review_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}

.review_container .review_box{
    padding: 3rem 2rem;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    transition: all 0.3s;
}

.review_container .review_box:hover{
    transform: translateY(-15px);
    box-shadow:  18px 18px 30px #f2f2f2,
             -18px -18px 30px #ffffff;
}


.review_container .review_box .review_img{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 1.5rem;
}

.review_container .review_box .review_img img{
    width: 20%;
    height: 20%;
    border: 2px solid var(--main-color);
    border-radius: 100%;
}

.review_container .review_box .review_img h3{
    font-size: 1.6rem;
    line-height: 1.2;
    
    
}


.review_container .review_box .review_img h3 span{
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
}

.review_container .review_box .retting{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1.5rem;
    color: #FF5001;
    margin-bottom: 1rem;
}

.review_container .review_box p{
    font-size: 1.1rem;
    line-height: 1.5;
    color: #666;
}



/* Send Section */

.send{
    background-color: var(--second-color);
}



.send_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.send_container .send_content h3{
    font-size: 3.5rem;
    margin-bottom: 0.3rem;
}

.send_container .send_content p{
    font-size: 1.3rem;
    color: #666;
}



.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  auto;
    width: 100%;
  }
  
  .input {
    min-height: 55px;
    width: 100%;
    padding: 0rem 3rem;
    color: #666;
    font-size: 15px;
    border: none;
    border-radius: 6px 0 0 6px;
    background-color: #fff;
  }
  
  .button--submit {
    min-height: 55px;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--main-color);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #000;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  



  /* Footer Section */

  .footer{
    background-color: #2c3d34;
  }

  .footer_container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    border-bottom: 2px solid #eee;
    padding-bottom: 2rem;
  }



  .footer_container .footer_box .logo1{
    color: var(--main-color);
    font-size: 2.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    
}

.footer_container .footer_box .footer_text{
    font-size: 2rem;
    color: #eee;
    margin-bottom: 1.5rem;
}

.footer_container .footer_box .footer_icon{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
}

.footer_container .footer_box .footer_icon i{
    padding: 1rem;
    font-size: 1.8rem;
    border: 2px solid #eee;
    border-radius: 100px;
    color: #eee;
    cursor: pointer;
    transition: all 0.3s;
}

.footer_container .footer_box .footer_icon i:hover{
    background-color: #eee;
    color: #405449;
}


.footer_container .footer_box h3{
    font-size: 2rem;
    color: #eee;
    margin-bottom: 2rem;

}

.footer_container .footer_box p{
    text-decoration: none;
    margin-bottom: 1rem;
    transition: all 0.3s;
}

.footer_container .footer_box p:hover{
    transform: translateX(10px);
}

.footer_container .footer_box p a{
    font-size: 1.5rem;
    color: #ccc;
    transition: all 0.3s;
}

.footer_container .footer_box p a:hover{
    color: #eee;
}



.create_by{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 6rem;
}

.create_by p{
    font-size: 2rem;
    color: #eee;
}

.create_by p span{
    font-size: 2rem;
    color: var(--main-color);
    font-weight: 700;
}




/* media queries */


@media (max-width:768px){


    section{
        padding: 7rem 4%;
    }

    footer{
        padding: 7rem 4%;
    }

    html{
        font-size: 55%;
    }

    header .fa-bars{
        display: block;
    }

    header .navber{
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        border-top: .1rem solid #ccc;
        opacity: 0;
    }

    header .navber ul{
        flex-flow: column;
        padding: 2rem 0;
        background-color: #fff;
    }

    header .navber ul li{
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }


    header .navber ul li a{
        font-size: 3rem;
        display: block;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .nav-toggle{
        top: 6rem;
        opacity: 1;
    }

    .nav_btns{
        display: none;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        padding: 1rem 5rem;
        width: 100%;
    }


    .nav_btns{
        display: none;
    }



    .heading{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-bottom: 4px solid #00AE01;
        padding-bottom: 1.2rem;
        width: 80%;
        margin-bottom: 10rem;
        margin-top: 10rem;
    }
    
    .heading h3{
        font-size: 3rem;
        font-weight: 500;
    }


    .service_container{
        position: absolute;
        top: 130%;
        left: -1%;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        padding: 4rem;
        background-color: var(--White-color);
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 10px;
        z-index: 0;
        box-shadow:  18px 18px 30px #f2f2f2,
                 -18px -18px 30px #ffffff;
    }


    .hero{
        background-color: var(--second-color);
        padding: 10rem 9%;
        height: 200vh;
    }
    
    
    .hero_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }


    .catagories_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        text-align: center;
    }

    .catagories{
        background-color: var(--White-color);
        padding: 5rem 9%;
    }




    .product_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    
    }




    .product_container .product_box .btns{
        padding: 8px 25px;
        text-decoration: none;
        outline: none;
        border: 2px solid var(--main-color);
        background-color: #EFF0F2;
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--main-color);
        border-radius: 100px;
        transition: all 0.3s;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .product_container .product_box .btns:hover{
        background-color: var(--main-color);
        color: var(--White-color);
        font-weight: 500;
    }


    .banner_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        align-items: center;
    }



    .banner_container .banner_content{
        padding: 0rem 2rem;
        /* margin-left: 8rem; */
    }
    



    .about_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* gap: 10px; */
        align-items: center;
    }




    .review_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }



    .send_container{
        display: block;
        align-items: center;
        text-align: center; 
    }

    .send_container .send_content h3{
        margin-bottom: 2rem;
    }

    .send_container .send_content p{
        display: none;
    }

    .footer_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }


      .create_by{
        display: flex;
        
    }

      .create_by p{
        font-size: 1.2rem;
        color: #eee;
    }
    
    .create_by p span{
        font-size: 1.2rem;
        color: #FF5001;
        font-weight: 700;
    }

    
}


